{% extends 'base.html' %}
{% block content %}

<h1>Enter Seed Information</h1>
<br/>
<form action="{}" method="POST">
  <div>
    <label for="exampleInputEmail1" class="form-label">Enter Seed Name</label>
    <input type="text" style="width: 400px" class="form-control" id="exampleInputEmail1">
  </div>
  <br/>
  <div>
    <label for="exampleInputPassword1" class="form-label">Enter Seed Variety</label>
    <input type="text" style="width: 400px" class="form-control" id="exampleInputPassword1">
  </div>
  <br/>
  <div>
    <label for="exampleInputPassword1" class="form-label">Enter Seed Type</label>
    <input type="text" style="width: 400px" class="form-control" id="exampleInputPassword1">
  </div>
  <br/>
  <div>
    <label for="exampleInputPassword1" class="form-label">Enter Planting Zone</label>
    <input type="text" style="width: 400px" class="form-control" id="exampleInputPassword1">
  </div>
  <br/>
  <div>
    <label for="exampleInputPassword1" class="form-label">Enter Germination Period (# of days)</label>
    <input type="text" style="width: 400px" class="form-control" id="exampleInputPassword1">
  </div>
  <br/>
  <div>
    <label for="exampleInputPassword1" class="form-label">Days to Harvest (# of days)</label>
    <input type="text" style="width: 400px" class="form-control" id="exampleInputPassword1">
  </div>
  <br/>
    <div>
    <label for="exampleInputPassword1" class="form-label">Enter Plant Spacing (inches)</label>
    <input type="text" style="width: 400px" class="form-control" id="exampleInputPassword1">
  </div>
  <br/>
  <div>
    <label for="exampleInputPassword1" class="form-label">Enter Row Spacing (inches)</label>
    <input type="text" style="width: 400px" class="form-control" id="exampleInputPassword1">
  </div>
  <br/>
  <div>
    <label for="exampleInputPassword1" class="form-label">Enter Planting Depth (inches)</label>
    <input type="text" style="width: 400px" class="form-control" id="exampleInputPassword1">
  </div>
  <br/>
  <div>
    <label for="exampleInputPassword1" class="form-label">Sun Required (# of days)</label>
    <input type="text" style="width: 400px" class="form-control" id="exampleInputPassword1">
  </div>
  <br/>
  <div>
    <label for="exampleInputPassword1" class="form-label">Water Required (# of days)</label>
    <input type="text" style="width: 400px" class="form-control" id="exampleInputPassword1">
  </div>
  <br/>
  <br/>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
